<!DOCTYPE html>
<html lang='pl'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#ffffff"/>
		<meta name="author" content="michal-trybus">
		<title>La Sicilia | Pizzeria Włoska</title>
		<meta name="description" content="La Sicilia to włoska pizzeria, w której poczują Państwo bogactwo smaków kuchni śródziemnomorskiej i cudowną atmosferę typową dla włoskich trattorii.">
		<meta name="keywords" content="pizzeria, włoska, pizza, restauracja">
		{{!-- OG --}}
		<meta property="og:site_name" content="La Sicilia">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="La Sicilia to włoska pizzeria, w której poczują Państwo bogactwo smaków kuchni śródziemnomorskiej i cudowną atmosferę typową dla włoskich trattorii.">
    <meta property="og:description" content="La Sicilia to włoska pizzeria, w której poczują Państwo bogactwo smaków kuchni śródziemnomorskiej i cudowną atmosferę typową dla włoskich trattorii.">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:image" content="">
		{{!-- /OG --}}
		<link rel="shortcut icon" href="images/favicon1.png" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet"> 
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script><script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->
	</head>
	<body>
		{{>navigation-default}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</body>
</html>
 