<main class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-6 py-0 px-0">
        <section class="main-header main-header_small main-header_divider main-header__about loading"></section>  
      </div> <!-- col-12 -->
      <div class="col-12 col-xl-6 about-box">
        <section class="about-info">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-9 col-xl-10"> 
              <div class="divide-text">
                <div class="headlines">
                  <span class="headlines__mini-info">Pizzeria La Sicilia</span>
                  <h2 class="headlines__title">Czym się zajmujemy</h2>
                </div> <!-- headlines -->
                <div class="divider"></div>
                <p>Zapraszamy do tradycyjnej włoskiej pizzerii, <br>która oferuje szeroki wybór wyśmienitych dań kuchni włoskiej, takich jak:</p>
                <ul class="ul-norm">
                  <li>pizza,</li>
                  <li>focaccia,</li>
                  <li>bruschetta,</li>
                  <li>panini,</li>
                  <li>tradycyjne włoskie sałatki.</li>
                </ul>
                <p>W przyjemnym otoczeniu oferujemy możliwość skonsumowania pysznych, świeżo przygotowanych przez nas posiłków. Wszystkie dania, w tym również sosy przygotowujemy od podstaw sami, a składniki zamawiamy na bieżąco aby były zawsze świeże i dobrej jakości.</p>
                <h4 class="mid-heading">Pysznie i zdrowo</h4>
                <div class="divider"></div>
                <p>Kuchnia włoska należy do najbardziej popularnych kuchni świata. Jej wyjątkowy charakter to zasługa lokalnych metod produkcji, wyśmienitych surowców oraz oryginalnych i niepowtarzalnych zwyczajów przyrządzania i serwowania dań. W&nbsp;kuchni włoskiej dominują potrawy mączne (makarony, pierożki: ravioli lub tortellini, kopytka – gnocchi, pizza, focaccia).</p>
                <p>Ważnymi składnikami posiłków są: SZYNKA PARMEŃSKA, MOZZARELLA i&nbsp;PARMEZAN. Są to najsłynniejsze i&nbsp;najlepsze “towary eksportowe” Włoch. Z innych słynnych włoskich serów należy wymienić: gorgonzolę, mascarpone, ricottę i owczy ser pecorino.</p>
              </div> <!-- divide-text -->
            </div>
          </div>
        </section>
      </div> <!-- col-12 -->
    </div> <!-- row no-gutter -->
  </div>
</main>
{{!-- Footer --}} 
{{>footer-defult}}
{{!-- Scripts --}}
<script src="/js/shared.bundle.js"></script>
<script src="/js/about.bundle.js"></script> 