<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="footer__top">
          <div class="footer__top-box">
            <a href="/">
              <div class="footer__top-item">
                <img src="images/nav-logo.png" alt="" class="navbar_logo">
                <span class="navbar_title ml-2">La Sicilia</span>
              </div> <!-- footer__top-item -->
            </a>
            <a href="https://www.facebook.com/lasiciliagdansk/" target="_blank" rel="noopener">
              <div class="footer__top-item">
                <span class="navbar_title navbar_title_social mr-2">Sprawdź nas</span>
                <img src="images/facebook-logo.svg" alt="" class="navbar_logo navbar_logo_social">
              </div> <!-- footer__top-item -->
            </a>
          </div>
        </div> <!-- footer__top -->
        <div class="footer__body">
          <p class="mb-2 footer__body_par">LA SICILIA – PIZZERIA © 2017  |  realizacja: Michał Trybus</p>
          <p class="mb-0 footer__body_par">* Powyższe zdjęcia mają charakter poglądowy i mogą się różnic od gotowego wyrobu</p>
        </div> <!-- footer__body -->
      </div>
    </div>
  </div>
</footer>