<nav class="navbar navbar-expand-lg navbar-dark navbar_bg-dark fixed-top">
  <a class="navbar-brand" href="/"> 
    <img src="images/nav-logo.png" alt="" class="navbar_logo">
    <span class="navbar_title">La Sicilia</span>
  </a> 
  <button class="navbar-toggler navbar-toggler__def" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-nav_mobile">
      {{# each navLinks}}
        <li class='nav-item nav-item_mobile'>
          <a class='nav-link nav-item_mobile__link {{#ifeq ../section key}}nav-item_mobile_active{{else}} {{/ifeq}}' href="{{ href }}">{{ label }}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>