.footer{
  background-color: $black;
}
.footer__top{
  border-bottom: 1px solid rgba($white, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.footer__top-box{
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo_social{
  width: 22px;
  margin-top: -5px;
}
.footer__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: rgba($white, .5);
  margin: 1rem 0;
  text-align: center;
}
.footer__body_par{
  font-size: 0.85rem;
  color: $gold;
}