@font-face {
  font-family: 'great_vibesregular';
  src: url('fonts/vibes/greatvibes-regular-webfont.eot');
  src: url('fonts/vibes/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/vibes/greatvibes-regular-webfont.woff2') format('woff2'),
       url('fonts/vibes/greatvibes-regular-webfont.woff') format('woff'),
       url('fonts/vibes/greatvibes-regular-webfont.ttf') format('truetype'),
       url('fonts/vibes/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
  font-weight: normal;
  font-style: normal;
} 
 